@model List<Graphics>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Graphics";
}
<div class="text-center">
    <h1 class="display-4">List Graphics</h1>
</div>
<div class="pb-5 pt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>MemoryGB</th>
                <th>ConnectorType</th>
                <th>CoreClockMHz</th>
                <th>RecommendedPower</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var graphics in Model)
            {
                <tr>
                    <td>@graphics.GraphicsId</td>
                    <td>@graphics.Name</td>
                    <td>@graphics.MemoryGB</td>
                    <td>@graphics.ConnectorType</td>
                    <td>@graphics.CoreClockMHz</td>
                    <td>@graphics.RecommendedPower</td>
                </tr>
            }
        </tbody>
    </table>
</div>
